.header-top {
    background-color: #f2f2f2;
    
}



.header-top .container-12{
    display: flex;
    justify-content: flex-end;
}

.login , .register {
    color: white;
    border-radius: 3px;
    width: 120px;
    text-align: center;
    padding: 7px 0;
    font-size: 14px;
    border: none;
    margin: 5px 0;
    cursor: pointer;
}
.login {
    background-color: #ff4d4f;
}
.login:hover {
    background-color: #f15254;
}

.register {
    background-color: #1890ff;
    margin-right: 20px;
}
.register:hover {
    background-color: #0c78da;
}

.header-main .container-12 {
    display: flex;
    height: 150px;
    align-items: center;
}

.logo {
    width: 25%;
}

.logo img {
    width: 100%;
}

.search-input{
    padding: 15px;
    border: 1px solid #f2f2f2;
    font-size: 12px;
    color: #ccc;
    margin-left: 200px;
    flex-grow: 1;
}

.search-input:focus {
    outline: none;
 }

.search-input::placeholder {
    color: #ccc;
}

.search-btn {
    background-color: #0c78da;
    height: 44px;
    margin-right: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 60px;
    cursor: pointer;
    
}



.active-btn {
    background-color: #0c78da;
    height: 44px;
    width: 150px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    cursor: pointer;
}

.header-menu {
    background-color: #0c78da;
}

.header-menu .container-12 {
    display: flex;

}

.page-item {
    color: white;
    text-transform: uppercase;
    padding: 14px;
    font-size: 15px;
    cursor: pointer;
    user-select: none;
}

.page-item:hover {
    background-color: #20BCF0;
}

.main-img img {
    width: 100%;
}

.main-contact {
    width: 100%;
    height: 100%;
    border: 1px solid #f05225;
    border-radius: 4px;
}

.contact-header {
    padding: 14px;
    color: white;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase ;
    background: linear-gradient(270deg,#ff8100,#f05225);

}

.contact-info {
    display: flex;
    height: 100px;
    align-items: center;
}

.contact-img {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
}
.contact-img img {
    width: 75%;
    border: 3px solid #20BCF0;
    border-radius: 50%;

}


.contact-content {
    flex-basis: 70%;
}
.contact-content-header {
    color: #495057;
    font-weight: 500;
}

.contact-content-item{
    font-size: 14px;
    display: block;
    color: #1890ff;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    margin-top: 4px;
}

.countdown {
    text-align: center;
    color: #495057;
    font-weight: 500;
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.5;
}


.contact-hotline {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-hotline-icon {
    display: inline-block;
    font-size: 20px;
    color: #b70100;
    padding: 14px;
    background-color: #ffefef;
    border-radius: 50%;
    margin-top: 12px;
    margin-right: 12px;
    animation: hotlineBling .8s ease-in-out alternate infinite;
}


.hotline {
    color: #f05325;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;

}



@keyframes hotlineBling {
    from {
        transform: rotate(0deg);
        opacity: 1;
    }
    to {
        transform: rotate(30deg);
        opacity: 0.5

    }
  }







@media (max-width: 860px) {

    .header-main .container-12 {
        flex-direction: column;
        height: auto;
        margin-top: 10px;
    }
    .search-input {
        margin: 0;
        width: 100%;
    }
    .search-btn {
        width: 100%;
        height: 44px;
        margin: 0;
    }
    .active-btn {
        margin: 10px 0;
        width: 100%;
    }
    .header-menu .container-12 {
        flex-direction: column;
    }

}

@media (max-width: 1023px) and (min-width: 400px) {
    .contact-img {
        flex-basis: 100px;
    }
}